/* src/components/ScrollBar.css */

.scroll-bar-container {
  position: fixed;
  right: 0px;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: transparent;
  z-index: 1000;
}

.scroll-bar {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #141717;
  border-radius: 50%;
  transition: all 0.2s ease;
  cursor: pointer;
  transform-origin: top center;
}

.scroll-bar:hover {
  width: 25px;
  height: 25px;
}

.scroll-bar.dragging,
.scroll-bar:active {
  width: 20px;
  height: 100px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .scroll-bar-container {
    display: none;
  }
}
