/* src/styles.css */
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Parkinsans', sans-serif;
  background-color: #000000;
  color: #F4F1E3;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
  
@font-face {
  font-family: 'Emotion';
  src: url('./fonts/Creating\ Emotion\ Demo.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('./fonts/Parkinsans-VariableFont_wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Melody';
  src: url('./fonts/demomelodygroove-maj9p.otf') format('opentype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Angelos';
  src: url('./fonts/Angelos.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Widom';
  src: url(./fonts/WisdomWordsPersonalUse-r9E9.ttf) format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}

  /*hidden scrollbar*/
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

